<div class="information-container shadow-8">
    <p-card styleClass="w-full h-full">
        <h1 class="mb-2">
            Información
        </h1>
        <span>No sé que información ponerle xd</span>
    </p-card>
    <p-card styleClass="w-full h-full">
        <h1 class="mb-2">
            Información
        </h1>
        <span>No sé que información ponerle xd</span>
    </p-card>
    <p-card styleClass="w-full h-full">
        <h1 class="mb-2">
            Información
        </h1>
        <span>No sé que información ponerle xd</span>
    </p-card>
    <p-card styleClass="w-full h-full">
        <h1 class="mb-2">
            Información
        </h1>
        <span>No sé que información ponerle xd</span>
    </p-card>
</div>