<div class="HomePrincipal shadow-8 overflow-hidden">
    <div class="estadisticas">
        <p-card class="w-full">
            <p-chart class="chart" type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
        </p-card>
        <div class="product w-full">
            <p-card class="producto-card" header="Viaje a Cuzco" subheader="Requieres 2500 puntos para reclamarlo">
                <ng-template pTemplate="header">
                    <img class="imagen-producto" alt="Viaje a Cuzco"
                        src="https://th.bing.com/th/id/R.6a286cc6e5ba9dd182ff93285e2ad64e?rik=2Y1z8uDhNgLqHg&pid=ImgRaw&r=0" />
                </ng-template>
                <ng-template pTemplate="content">
                    <p class="content">
                        Descripción: Experimenta la belleza de Cuzco con nuestro emocionante paquete de viaje. Descubre
                        los
                        lugares históricos, disfruta de la cultura local y crea recuerdos inolvidables en uno de los
                        destinos más fascinantes del mundo.
                    </p>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="footer">
                        <p-button class="cursor-disabled" [disabled]="true" label="Adquirir" styleClass="p-button-outlined p-button-success"></p-button>
                        <p-button class="cursor-disabled" [disabled]="true" label="Verificar" styleClass="p-button-outlined p-button-secondary"></p-button>
                    </div>
                </ng-template>
            </p-card>

            <p-card class="producto-card" header="Zapatillas Nike Air Jordan 1"
                subheader="Requieres 625 puntos para reclamarlo">
                <ng-template pTemplate="header">
                    <img class="imagen-producto" alt="Zapatillas Nike Air Jordan 1"
                        src="https://th.bing.com/th/id/R.9a9a974277014853ca2f6d6371375e64?rik=EDOD6hGRdVIsAQ&pid=ImgRaw&r=0" />
                </ng-template>
                <ng-template pTemplate="content">
                    <p class="content">
                        Descripción: Las Zapatillas Nike Air Jordan 1 son una colaboración icónica que combina el estilo
                        de
                        Jordan con la calidad de Nike. Estas zapatillas son ideales para los amantes del baloncesto y la
                        moda urbana.
                    </p>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="footer">
                        <p-button class="cursor-disabled" [disabled]="true" label="Adquirir" styleClass="p-button-outlined p-button-success"></p-button>
                        <p-button class="cursor-disabled" [disabled]="true" label="Verificar" styleClass="p-button-outlined p-button-secondary"></p-button>
                    </div>
                </ng-template>
            </p-card>

            <p-card class="producto-card" header="PlayStation 4" subheader="Requieres 300 puntos para reclamarlo">
                <ng-template pTemplate="header">
                    <img class="imagen-producto" alt="PlayStation 4"
                        src="https://th.bing.com/th/id/OIP.PnOXGru017VQQwS1Jle7lQHaEK?pid=ImgDet&rs=1" />
                </ng-template>
                <ng-template pTemplate="content">
                    <p class="content">
                        Descripción: La PlayStation 4 es una consola de videojuegos de última generación que ofrece una
                        amplia variedad de juegos y entretenimiento. Disfruta de experiencias de juego inmersivas y
                        contenido multimedia.
                    </p>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="footer">
                        <p-button class="cursor-disabled" [disabled]="true" label="Adquirir" styleClass="p-button-outlined p-button-success"></p-button>
                        <p-button class="cursor-disabled" [disabled]="true" label="Verificar" styleClass="p-button-outlined p-button-secondary"></p-button>
                    </div>
                </ng-template>
            </p-card>

            <p-card class="producto-card" header="Xbox One" subheader="Requieres 250 puntos para reclamarlo">
                <ng-template pTemplate="header">
                    <img class="imagen-producto" alt="Xbox One"
                        src="https://th.bing.com/th/id/OIP.4I9njQSIMsNyFKh8Jus63QHaEK?pid=ImgDet&rs=1" />
                </ng-template>
                <ng-template pTemplate="content">
                    <p class="content">
                        Descripción: La Xbox One es una consola de juegos versátil que ofrece una gran biblioteca de
                        juegos
                        y funciones multimedia. Disfruta de la experiencia de juego de Xbox y más.
                    </p>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="footer">
                        <p-button class="cursor-disabled" [disabled]="true" label="Adquirir" styleClass="p-button-outlined p-button-success"></p-button>
                        <p-button class="cursor-disabled" [disabled]="true" label="Verificar" styleClass="p-button-outlined p-button-secondary"></p-button>
                    </div>
                </ng-template>
            </p-card>

            <p-card class="producto-card" header="Laptop Acer Aspire 5"
                subheader="Requieres 225 puntos para reclamarlo">
                <ng-template pTemplate="header">
                    <img class="imagen-producto" alt="Laptop Acer Aspire 5"
                        src="https://th.bing.com/th/id/R.6de09bbf67d0550ab20eedb52b01e2b3?rik=PITJpkz43YcYNA&pid=ImgRaw&r=0" />
                </ng-template>
                <ng-template pTemplate="content">
                    <p class="content">
                        Descripción: La Laptop Acer Aspire 5 es una computadora portátil de alto rendimiento que te
                        permite
                        realizar tareas de productividad y disfrutar de entretenimiento en alta definición.
                    </p>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="footer">
                        <p-button class="cursor-disabled" [disabled]="true" label="Adquirir" styleClass="p-button-outlined p-button-success"></p-button>
                        <p-button class="cursor-disabled" [disabled]="true" label="Verificar" styleClass="p-button-outlined p-button-secondary"></p-button>
                    </div>
                </ng-template>
            </p-card>

            <p-card class="producto-card" header="Mouse Logitech G Pro" subheader="Requieres 20 puntos para reclamarlo">
                <ng-template pTemplate="header">
                    <img class="imagen-producto" alt="Mouse Logitech G Pro"
                        src="https://th.bing.com/th/id/OIP.FLdPD46o45PPI1rAAr1EUgHaEK?pid=ImgDet&rs=1" />
                </ng-template>
                <ng-template pTemplate="content">
                    <p class="content">
                        Descripción: El Mouse Logitech G Pro es un dispositivo de alta precisión diseñado para jugadores
                        profesionales. Disfruta de una experiencia de juego sin igual con este mouse.
                    </p>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="footer">
                        <p-button class="cursor-disabled" [disabled]="true" label="Adquirir" styleClass="p-button-outlined p-button-success"></p-button>
                        <p-button class="cursor-disabled" [disabled]="true" label="Verificar" styleClass="p-button-outlined p-button-secondary"></p-button>
                    </div>
                </ng-template>
            </p-card>

            <p-card class="producto-card" header="Ecran PC G9 DWQHD"
                subheader="Requieres 450 puntos para reclamarlo">
                <ng-template pTemplate="header">
                    <img class="imagen-producto" alt="Ecran PC Samsung Odyssey G9 DWQHD"
                        src="https://video.fnac-static.com/0/Video/FR/MDM/f1/85/e7/15173105/3011-1.JPEG" />
                </ng-template>
                <ng-template pTemplate="content">
                    <p class="content">
                        Descripción: El Ecran PC Samsung Odyssey G9 DWQHD es un monitor de 49 pulgadas con tecnología
                        QLED
                        que ofrece una experiencia de visualización envolvente con una resolución Dual Quad HD. Disfruta
                        de
                        imágenes nítidas y colores vibrantes en este impresionante monitor curvo.
                    </p>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="footer">
                        <p-button class="cursor-disabled" [disabled]="true" label="Adquirir" styleClass="p-button-outlined p-button-success"></p-button>
                        <p-button class="cursor-disabled" [disabled]="true" label="Verificar" styleClass="p-button-outlined p-button-secondary"></p-button>
                    </div>
                </ng-template>
            </p-card>

            <p-card class="producto-card" header="Mitsubishi Eclipse GSX"
                subheader="Requieres 375 puntos para reclamarlo">
                <ng-template pTemplate="header">
                    <img class="imagen-producto" alt="Mitsubishi Eclipse GSX"
                        src="https://th.bing.com/th/id/R.df34e3498f53b33b2b3998a337f42274?rik=I8pujam9PxwJjg&riu=http%3a%2f%2fcdn1.3dtuning.com%2finfo%2fMitsubishi+Eclipse+GSX+1995+Coupe%2ffactory%2f7.jpg&ehk=8gEiZRfRd5D%2bn6YZSkQ3KBqtA8QodkxH2r%2bfrEsMJj8%3d&risl=&pid=ImgRaw&r=0" />
                </ng-template>
                <ng-template pTemplate="content">
                    <p class="content">
                        Descripción: El Mitsubishi Eclipse GSX es un icónico automóvil deportivo conocido por su
                        rendimiento
                        y diseño deportivo. Con su motor potente y estilo elegante, el Eclipse GSX es un automóvil
                        emocionante para los amantes de la velocidad y la conducción deportiva.
                    </p>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="footer">
                        <p-button class="cursor-disabled" [disabled]="true" label="Adquirir" styleClass="p-button-outlined p-button-success"></p-button>
                        <p-button class="cursor-disabled" [disabled]="true" label="Verificar" styleClass="p-button-outlined p-button-secondary"></p-button>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>